<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	<bean
		class="org.springframework.jmx.export.annotation.AnnotationMBeanExporter" />
	<bean name="beanMonitor" class="cn.netbuffer.ssmbootstrap_table.mbean.BeanMonitor"></bean>
	
	<bean id="server"
		class="org.springframework.jmx.support.ConnectorServerFactoryBean"
		depends-on="registry">
		<property name="objectName">
			<value>${jmx.objectName}</value>
		</property>
		<!-- 可以使用jconsole等jmx客户端工具远程连接这个地址管理mbean -->
		<property name="serviceUrl">
			<value>${jmx.serviceUrl}</value>
		</property>
	</bean>
	<bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
		<property name="port">
			<value>${jmx.port}</value>
		</property>
	</bean>
	
</beans>